<div class="container mt-4">
    <h2 class="text-center mb-4">My Watchlist</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="col" *ngFor="let movie of movies">
            <app-movie-card
            [movie]="movie"
            [isFavorite]="isFavorite(movie.imdbID)"
            [isWatchlist]="isWatchlist(movie.imdbID)"
            (favoriteToggle)="toggleFavorite(movie)"
            (watchlistToggle)="toggleWatchlist(movie)"
            >
            </app-movie-card>
        </div>
    </div>
</div>
